:root{
    --color-principal: #ae9cff;
    --color-white: #ffffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:not(i) {
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--color-principal);
}

.container{
    background-color: var(--color-white);
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box input{
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid var(--color-principal);
    font-size: 16px;
}

.search-box button{
    padding: 15px 0;
    width: 25%;
    background-color: var(--color-principal);
    border: none;
    outline: none;
    color: var(--color-white);
    border-radius: 5px;
}

.result{
    position: relative;
}

.result h3{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.result button{
    background-color: transparent;
    color: var(--color-principal);
    border: none;
    outline: none;
    font-size: 20px;
}

.result .details{
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}